<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--自动扫描-->
    <context:component-scan base-package="com.zhuhai"/>

    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
        <!--配置重试参数对象-->
        <property name="redeliveryPolicy" ref="redeliveryPolicy"/>
    </bean>
    <!--配置重试参数-->
    <bean id="redeliveryPolicy" class="org.apache.activemq.RedeliveryPolicy">
        <!--配置重试次数-->
        <property name="maximumRedeliveries" value="3"/>
        <!--配置首次重试间隔时间-->
        <property name="initialRedeliveryDelay" value="3000"/>
        <!--配置每次重试间隔时间-->
        <property name="redeliveryDelay" value="3000"/>
    </bean>
    <!--spring jms connectionFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestinationName" value="spring-jms-message"/>
        <property name="sessionAcknowledgeMode" value="1"/>
    </bean>



</beans>